[package]
name = "facilitator"
version = "0.1.0"
authors = ["Internet Security Research Group"]
edition = "2018"
build = "build.rs"

[dependencies]
anyhow = "1.0"
avro-rs = "0.11.0"
base64 = "0.12.3"
chrono = "0.4"
clap = "2.33.3"
derivative = "2.1.1"
prio = "0.2"
rand = "0.7"
ring = { version = "0.16.15", features = ["std"] }
rusoto_core = "0.45.0"
rusoto_mock = "0.45.0"
rusoto_s3 = "0.45.0"
serde = { version = "1.0", features = ["derive"] }
tempfile = "3.1.0"
thiserror = "1.0"
tokio = { version = "0.2", features = ["io-util"] }
uuid = { version = "0.8", features = ["serde", "v4"] }

[build-dependencies]
vergen = "3"
