name: push-docker-image

on:
  push:
    branches: [ main ]

jobs:
  push-facilitator:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Get hash
      id: get_hash
      run: echo ::set-output name=HASH::$(git rev-parse --short HEAD)
    - name: Set up Docker build
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: isrgautomaton
        password: ${{ secrets.ISRG_AUTOMATON_DOCKERHUB_AUTH_TOKEN }}
    - name: build
      run: ./facilitator/build.sh
    - name: tag hash
      run: docker tag letsencrypt/prio-facilitator letsencrypt/prio-facilitator:${{ steps.get_hash.outputs.HASH }}
    - name: tag latest-main
      run: docker tag letsencrypt/prio-facilitator letsencrypt/prio-facilitator:latest-main
    - name: push hash
      run: docker push letsencrypt/prio-facilitator:${{ steps.get_hash.outputs.HASH }}
    - name: push latest-main
      run: docker push letsencrypt/prio-facilitator:latest-main

  push-workflow-manager:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Get hash
      id: get_hash
      run: echo ::set-output name=HASH::$(git rev-parse --short HEAD)
    - name: Set up Docker build
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: isrgautomaton
        password: ${{ secrets.ISRG_AUTOMATON_DOCKERHUB_AUTH_TOKEN }}
    - name: build
      run: ./workflow-manager/build.sh
    - name: tag hash
      run: docker tag letsencrypt/prio-workflow-manager letsencrypt/prio-workflow-manager:${{ steps.get_hash.outputs.HASH }}
    - name: tag latest-main
      run: docker tag letsencrypt/prio-workflow-manager letsencrypt/prio-workflow-manager:latest-main
    - name: push hash
      run: docker push letsencrypt/prio-workflow-manager letsencrypt/prio-workflow-manager:${{ steps.get_hash.outputs.HASH }}
    - name: push latest-main
      run: docker push letsencrypt/prio-workflow-manager:latest-main
